header {
  height: 100px;
  background: white;
  border-bottom-style: dotted;
}

#header-logo {
  float: left;
  margin-top: 15px;
}

header li {
  float: right;
}

#header-delicious {
  font-size: 30px;
}

#header-blog {
  font-size: 10px;
}